h1{
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	background-color: darkslategray;
	border: bottom 3px solid #fff;
	padding: 20px;
	color: yellow;
	font-family: "Arial Black", Gadget, sans-serif;
}
h4{
    text-align: left;
	font-weight: bold;
	font-size: 18px;
	background-color: darkslategray;
	border: 3px solid darkslategray;
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
}
head{
	text-align: center;
	font-weight: bold;
}
body{
	margin: 40px;
	background-color: darkslategray;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	text-align: center;
}
.question {
	text-align: center;
	font-weight: bold;
	font-size: 25px;
}
.questions_list {
  	background-color: #A0E7F5;
  	border: 3px solid #fff;
  	padding: 10px;
  	font-size: 25px;
  	text-align: center;
}
.item {
  	background-color: #A0E7F5;
  	border: 3px solid #fff;
  	padding: 10px;
  	font-size: 25px;
  	text-align: center;
}
a {
    color: yellow;
}
th {
	font-size: 20px;
}