{% extends "layout.html" %}
{% include 'header.html' %}

<html>
    <head>
        <title>Ask Question</title>
    </head>
    {% block body_content %}
    <body>
        {% block title_content %}
        <title>Ask mate - List</title>
        {% endblock title_content %}
        <h1>Ask a question</h1>
        <form method="post" action="/ask-question">
            <p>
                <br>Question subject:
                <br><input name="question_subject">
            </p>
            <p>
                <br>Describe your question:
                <br><textarea name="question_text" rows="5" cols="40"></textarea>
            </p>
            <p>
                <br>URL of your image:
                <br><input type="text" name="url">
            </p>
                <br><input type="submit" value="Submit">
        </form>
    </body>
    {% endblock body_content%}
</html>