
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ask mate - List</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>


<body>
    <h1> ASK MATE - BY KETAMIN Kft. :D </h1>


    <a href="/ask-question">Ask a question</a>


    <h4>Order User questions as:</h4>
    <form action="/" method="get">
        <select name="select_order">
            <option value="" disabled selected hidden>Select order by time</option>
            <option value="desc">Descending</option>
            <option value="asc">Ascending</option>
        </select>
        <input type="submit" value="Submit">
    </form>


    <table>
        <th></th>
        <th></th>
        <th>Id</th>
        <th>Votes</th>
        <th>Title</th>
        <th>Submission Time</th>
        {% for item in questions %}
            <tr>
            <form action="/question/vote_up/{{ item['id'] }}" method="post">
            <td>
                <input type="submit" name="vote" value="Vote up" >
            </td>
            </form>
            <form action="/question/vote_down/{{ item['id'] }}" method="post">
            <td>
                <input type="submit" value="Vote down" name="vote">
            </td>
            </form>
                {% for key in item %}
                    {% if key == 'title' %}
                        <td> <a href="/question/{{ item['id'] }}"> {{ item[key] }} </a></td>
                    {% else %}
                        <td>  {{ item[key] }}  </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</body>
</html>