{% extends "layout.html" %}

<html>
    <head>
        {% block title_content %}
        <title>Question</title>
        {% endblock title_content %}
    </head>

{% block body_content %}
    <body>
    {% block h1_content %}
        <h1> ASK MATE - BY KETAMIN Kft. :D </h1>
    {% endblock h1_content%}
    <table align="center">
        <tr>
            <td>
            </td>
            <td>
                <h1>{{ question["vote_number"] }}</h1>
            </td>
            <td>
                <h1>{{ question["title"] }}</h1>
            </td>
            <td>
            </td>
        </tr>
    </table>
    <h2>{{ question["message"] }}</h2>


    <table align="center">
        {% for item in answers %}
        <tr>
            {% for key in item %}
                <td>{{ item[key] }}</td>
            {% endfor %}
            <td>
                <form action="/answer/{{ item["id"] }}/edit" method="get">
                    <input type="submit" name="edit_answer" value="Edit answer" >
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

    <form method="post" action="/add_answer/{{ question["id"] }}">
        <textarea name="answer_text" rows="5" cols="40"></textarea>
        <input type="submit" value="Post Answer">
    </form>

    <p>Comments:</p>

    <table align="center">
        {% for item in comments %}
            <tr>
                {% for key in item %}
                    <td>{{ item[key] }}</td>
                {% endfor %}
                <td>
                    <form method="post" action="/delete_comment/{{ question["id"] }}">
                        <input type="submit" value="Delete Comment">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>

    <form method="post" action="/add_comment/{{ question["id"] }}">
        <textarea name="comment_text" rows="5" cols="40"></textarea>
        <input type="submit" value="Add Comment">
    </form>
    </body>
{% endblock body_content%}
</html>